body {
    padding-top: 5rem;
    font-family: 'Lato', sans-serif;
}

header i{
    font-size: 18px;
}

.homebackground{
    background-image: url(../background.png/);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer{
    text-align: center;
    color: white;
    /* background-color: #00406E; */
}

.push{
    height: 100px;
}

.login-form form{
    background-color: white;
    text-align: center;
    width: 40vw;
    box-shadow: 0px 0px 5px 2px #4cbff5c0;
    margin: auto;
    padding: 50px;
}



.sign-up-form{
    background-color: white;
    width: 40vw;
    box-shadow: 0px 0px 5px 2px #4cbff5c0;
    margin: auto;
    padding: 50px;
}

.sign-up-form h2{
    text-align: center;
}

.loginlogo{
    width: 6rem;
    height: 6rem;    
}

#website_logo{
    width: 10rem;
    height: 2rem;
}

#viewer-profile, #logout-icon{
    width: 1rem;
    height: 1rem;
}

.recorder{
    padding-top: 15px;
    padding-bottom: 25px;
}

.timer h1{
    font-weight: 700;
    font-size: 80px;
}  

.timer-ending h1{
    animation:end-blinking 1.5s infinite;
}

@keyframes end-blinking{
    0%{   color: red;   }
    47%{   color: #000; }
    62%{   color: transparent; }
    97%{   color:transparent; }
    100%{  color: #000;   }
}

.recorder-btn{
    border-radius: 50%;
    outline: none;
    border: none;
    padding:5%;
    cursor: pointer;
    margin: auto;
    display: flex;
}


.recorder-btn:where(#stop){
    box-shadow: 0 0 0 0 rgb(253, 128, 128, 0.7);
	transform: scale(1);
	animation: pulse 2s infinite;
}


@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgb(253, 128, 128, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 20px rgb(253, 128, 128, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgb(253, 128, 128, 0);
	}
}




#mic{
    outline: none;
    background-color: #009BDE;
    color: white;
    height: 200px;
    width: 200px;
    display: inline-block;
}

#mic i{
    text-align: center;
    font-size: 100px;
}

#mic:hover{
    background-color: #016a97;
}


#stop{
    outline: none;
    background-color: #fa97a4;
    color: red;
    height: 300px;
    width: 300px;
    display: inline-block;
}

#stop:hover{
    color: rgb(135, 0, 0);
}

#stop i{
    text-align: center;
    font-size: 200px;
}




#submit{
    color: #009BDE;
    outline: none;
    font-size: 200px;
    background-color: white;
    padding: 0;
}


.home{
    text-align: center;
    color:#00406E;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}



.home h1{
    font-weight: 900;
    font-size: 50px;
    margin-bottom: 12px;
}

.home h3{
    font-weight: 100;
    font-style: italic;
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 12px;
}

.homepage-btn-group{
    padding-top: 15px;
}

.homepage-btn-group input{
    width: 160px;
    padding: 5px;
    border-radius: 3px;
    outline: none;
    border: none;
    color: white;
    background-color: #00406E;
    cursor: pointer;
    font-weight: 400;
    font-size: 20px;
}

.about-btn:hover, .start-now-btn:hover{
    background-color: #0978c7;
}

.about-btn{
    margin-right: 30px;
}


.team-galactech{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.about-system h1{
    font-weight: 700;
    color: #00406E;
}

.about-system p{
    font-weight: 400;
    font-size: 20px;
    line-height: 2.5;
}

.about-team{
    margin-top: 20px;
}

.about-team h3{
    color: #00406E;
    font-weight: 700;
    font-size: 35px;
}

.team-profile-icon{
width: 11rem;
height: 11rem;
margin-top: 10px;
margin-bottom: 15px;
}

.team-name{
    font-size: 25px;
    font-weight: 400;
    margin: 0;
}

.team-role{
    font-size: 20px;
    font-weight: 300;
    margin: 0;

}

.profile-div{
    display: grid;
    grid-template-columns: 2fr 3fr;
    border:  1px solid rgb(219, 219, 219) ;
    box-shadow: 0px 0px 12px rgb(207, 207, 207);
    margin: auto;
    width: 80%;
}

#profile-header, .previous-accents h1{
    text-align: center;
    font-weight: 700;
    color: #00406E;
    margin-bottom: 13px;
}

.previous-accents{
    margin-top: 50px;
}


.profile-letter-bg{
    background: linear-gradient(-45deg, #8ba0ff, #8337fd, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    outline: none;
    border: none;
    justify-content: center;
    text-align: center;
    color: white;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.profile-letter-bg h1{
    font-size: 250px;
    height: 100%;
}

.user-details{
    margin: auto 25px;
    line-height: 1.5;
    font-size: 20px;
    letter-spacing: 3px;
}



.audio-upload{
    padding-top: 25px;
}

.audio-upload section{
   border: 2px dashed #00406E;
   padding: 20px;
   max-width: 60%;
   border-radius: 2px;
   margin: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.drag-and-drop.active{
border: 2px solid #00406E;
box-shadow: 0px 0px 20px rgb(102, 255, 255);
}

#accent-page{
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
}

.drag-and-drop button{
    width: 30%;
}

.drag-and-drop span{
    color: #00406E;
    margin: 6px 0 8px 0;
  }

.drag-and-drop .icon{
    font-size: 30px;
    color: rgb(0, 79, 116);
  }

.uploaded-audio{
    background-color: #00406E;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
    border: none;
    color: white;
    outline: none;
    width: 30%;
    border-radius: 5px;
    margin-right: 0px !important;
    position: relative;
}



.change-display{
    margin-left: 0px !important;
}

.change-display-two{
    display: flex;
}

.change-display-two section{
    height: 220px !important;
}

.change-display-two .drag-and-drop{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: 2px solid #00406E;
    width: 60rem;
}

.change-display-two .uploaded-audio{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.uploaded-audio .icon{
    font-size: 50px;
    color: #ffffff;
}


.remove-audio{
    display: flex;
    margin: auto;
    width: 30px;
    text-align: center;
    top: 50%;
    left: 50%;
    position: absolute;
    top: 12px;
    right: -106px;
}

.remove-audio i{
    transition: .1s ease;
    opacity: 0;
    font-size: 22px;
    color: white;
    cursor: pointer;
}

.remove-audio:hover i{
    color: #e9a4ad;
}

.uploaded-audio:hover .remove-audio i{
    opacity: 1;
}

.submit-audio{
    display: flex;
    gap: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.submit-audio p{
    font-weight: 400;
    font-size: 20px;
}

.submit-audio button{
    outline: none;
    border: none;
}

.submit-audio p{
    margin: auto 0;
}

.recording{
    padding-top: 50px;
}

#recordingsList{
    list-style: none;
    padding-left: 0;
}

.delete-modal{
    z-index: 1;
    position: fixed;
    background-color: #424242;
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    padding: 100px;
}

.modal-content{
    margin: auto;
    background-color: white;
    height: auto;
    width: 50%;
    text-align: center;
}

.modal-header{
    text-align:center;
}

.close-modal{
    position: absolute;
    font-size: 25px;
    top: 10px;
    right: 30px;
}

.close-modal i{
    color:#00406E;
}

.close-modal:hover i{
    color: red;
    cursor: pointer;
}

.modal-header-icon{
    font-size: 60px;
    color: rgb(250, 81, 81);
}

.delete-header{
    padding: 16px;
}

.delete-header h4{
    padding-top: 15px;
}


.loading-page{
    z-index: 1;
    position: fixed;
    background-color: white;
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    padding: 100px;
}

.loading-page-content{
    margin: auto;
    height: auto;
    width: 50%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.loading-page-content img{
    height: 300px;
    width: 300px;
}

.loading-page-content p{
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 3px;
}


.max-size{
    color: rgb(149, 149, 149);
    font-size: 15px;
    font-weight: 100;
    padding-top: 10px;
    margin-bottom: 0;
}

.flash_messages{
    z-index: 1;
    position: fixed;
    width: 80%;
}

.results-page{
    text-align: center;
}

.results-header h1{
    font-weight: 700;
    color: #00406E;
}

.accent-identified{
    font-weight: 100;
    font-size: 40px;
}

.recorder-header h1{
    font-weight: 700;
    color: #00406E;
}

#instructions{
    font-weight: 400;
    font-size: 20px;
}

.recording p{
    font-weight: 100;
    font-size: 18px;
}

.upload-btn-group{
    display: flex;
    justify-content: center;
}

.delete-microphone-recording{
    margin-right: 50px;
}

.js-error-message{
    font-size: 15px;
    font-weight: 100;
    color: red;
    margin-bottom: 0;
}

.previous-accents p{
    text-align: center;
    font-weight: 400;
    color: #00406E;
    letter-spacing: 1.5px;
}

table{
    margin-bottom: 120px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}


.table {
	border-spacing: 0 15px;
	border-collapse: separate;
    margin-bottom: 120px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.table thead tr th,
.table thead tr td,
.table tbody tr th,
.table tbody tr td {
	vertical-align: middle;
	border: none;
}
.table thead tr th:nth-last-child(1),
.table thead tr td:nth-last-child(1),
.table tbody tr th:nth-last-child(1),
.table tbody tr td:nth-last-child(1) {
	text-align: center;
}
.table tbody tr {
	box-shadow: 0 2px 10px rgba(1, 20, 105, 0.307);
	border-radius: 5px;
}
.table tbody tr td {
	background: #fff;
}
.table tbody tr td:nth-child(1) {
	border-radius: 5px 0 0 5px;
}
.table tbody tr td:nth-last-child(1) {
	border-radius: 0 5px 5px 0;
}

.try-again button{
    font-size: 30px;
    width: auto;
    height: auto;
    padding: auto;
}