{% extends "base.html" %}

{% block title %}Page Not Found{% endblock %}

{% block css %}
<style type="text/css">
  body{
    padding-top: 60px;
  }
  img{
    height: 20rem;
    width: 35rem;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  p{
    text-align:center;
  }
  h1{
    font-size:64px;
    margin:75px 0 50px;
  }
  p{
    font-size:24px;
    margin:15px 0;
  }

  p.notfound-m1{
    font-weight: 900;
    color: #00406E;
  }

  p.notfound-backhome{
    font-weight: 100;
    color: #00406E;
  }
</style>
{% endblock %}

{% block main %}
<img src="{{url_for('static', filename='404.png')}}">
<p class="notfound-m1">WE DONT HAVE THAT PAGE.</p>
<p class="notfound-backhome">Why don't you let us take you <a href="{{ url_for('home') }}">home</a>?</p>
{% endblock %}