{% extends "base.html" %}

{% block main %}
<div class="about-system">
    <h1>GALACTECH ACCENT IDENTIFICATION SYSTEM</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore 
        magna aliqua. Ut enim ad minim veniam, quis nostrud 
        exercitation ullamco laboris nisi ut aliquip ex ea commodo 
        consequat. Duis aute irure dolor in reprehenderit in 
        voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
</div>
<div class="about-team">
    <h3>Our Team</h3>
    <div class="team-galactech">
        <div>
            <img src="{{url_for('static',filename='iconf1.png')}}" class="team-profile-icon">
            <p class="team-name"><strong>Kalia-Lee Rodney</strong></p>
            <p class="team-role">Project Manager</p>
        </div>
        <div>
            <img src="{{url_for('static',filename='iconf2.png')}}" class="team-profile-icon">
            <p class="team-name"><strong>Alexandria Burnett</strong></p>
            <p class="team-role">Programmer</p>
        </div>
        <div>
            <img src="{{url_for('static',filename='iconf3.png')}}" class="team-profile-icon">
            <p class="team-name"><strong>Aaliyah Johnston</strong></p>
            <p class="team-role">UX/UI Developer</p>
        </div>
        <div>
            <img src="{{url_for('static',filename='iconm1.png')}}" class="team-profile-icon">
            <p class="team-name"><strong>Jamar Lee</strong></p>
            <p class="team-role">Programmer</p>
        </div>
    </div>
</div>
{% endblock %}