{% extends "base.html" %}

{% block main %}
<div id="accent-page">
    <div class="recorder-header">
        <h1>GALACTECH ACCENT IDENTIFICATION SYSTEM</h1>
        <p id="instructions">INSTRUCTIONS: TO USE THE RECORDER PLEASE CLICK THE MIC BELOW OR UPLOAD A FILE</p>
    </div>
    <div>
        <div class="recorder">
            <button class= "recorder-btn" id="mic"><i class="recorder-icons fas fa-microphone"></i></button>
        </div>
        <div class="timer d-none" id="timer">
            <h1>00:00</h1>
        </div>
        
        <div class="audio-upload">
            <section class="uploaded-audio d-none">
                <div class="icon"><i class="fas fa-file-audio"></i></div>
                <p class="file-name"></p>
                <span class="remove-audio" id="remove-audio"><i class="fas fa-trash-can"></i></span>
            </section>
            <section class="drag-and-drop">
                <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
                <header>Drag & Drop to Upload File</header>
                <span>OR</span>
                <button type="submit" name="submit" class="btn btn-primary">Browse File</button>
                <input type="file" hidden>
                <p class="max-size">Max File Size: 25 MB | Allowed Extension: wav</p>
                <p class="js-error-message d-none" id="js-error-message"></p>
            </section>
        </div>

        <div class="delete-modal d-none" id="delete-modal">
            <div class="modal-content">
                <div class="delete-header">
                    <i class="fas fa-circle-minus modal-header-icon"></i>
                    <h4 class="modal-title w-100">Are you sure?</h4>
                    <a class="close-modal" id="close-modal"><i class="fas fa-xmark"></i></a>
                </div>
                <div class="modal-body">
                    <p>Do you really want to delete this audio? This action cannot be undone.</p>
                </div>
                <div class="modal-footer justify-content-center">
                    <button class="btn btn-secondary" id="cancel-delete-btn" class="cancel-delete-btn">Cancel</button>
                    <form action="{{url_for('deleteAudio')}}">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                    
                </div>
            </div>
        </div>

        <div class="loading-page d-none" id="loading-page">
            <div class="loading-page-content">
                <img src="{{url_for('static', filename='spinner.gif')}}">
                <p>Audio Recording is processing ...</p>
            </div>
        </div>
        
        <div class="upload-div" id="upload-div">
                <div class="recording d-none ">
                    <p>Preview your recording below</p>
                    <ol id="recordingsList"></ol>
                </div>
                <div class="upload-btn-group">
                    <div class="delete-microphone-recording d-none" id="delete-microphone-recording">
                        <button  class="btn btn-danger delete-mic-audio-icon">DELETE</button>
                    </div>
                    <div class="submit-audio d-none">
                        <button type="submit" name="submit" id="submit-recording" class="btn btn-success">SUBMIT</button>
                    </div>
                </div>     
        </div>
    </div>
</div>

{% endblock %}