{% extends "base.html" %}

{% block main %}
<h1 id="profile-header">Your Profile</h1>
<div class="profile-div">
    <div class="profile-letter-bg">
        <h1>{{user.full_name[0]|upper}}</h1>
    </div>
    <div class="user-details">
        <p><strong>Name:</strong> {{user.full_name}}</p>
        <p><strong>Username:</strong> {{user.username}}</p>
        <p><strong>Email:</strong> {{user.email}}</p>
        <p><strong>Date of Birth:</strong> {{user.date_of_birth.strftime('%d/%m/%Y')}}</p>
        <div><a href="#">Change Password</a></div>
    </div>
</div>
<div>
    <div class="previous-accents">
        <h1>Previous Accents Identified</h1>
        <!-- if table empty put there are none else -->
        <p>You have no previous accents identified.</p>
    </div>
</div>
{% endblock %}
