{% extends "base.html" %}

{% block main %}
  <div class="sign-up-form center-block">    
    <form action="{{ url_for('signup') }}" method="post" class="form-horizontal">
      {{ form.csrf_token }}
      <h2 class="signup-header">SIGN UP</h2>
      <div class="form-group">
        {{ form.fullname.label (class='signup-form-label')}}
        {{ form.fullname(class='form-control', placeholder="Enter your full name") }}
      </div>
      <div class="form-group">
        {{ form.username.label(class='signup-form-label') }}
        {{ form.username(class='form-control', placeholder="Enter your username") }}
      </div>
      <div class="form-group">
        {{ form.email.label(class='signup-form-label') }}
        {{ form.email(class='form-control', type='email', placeholder="Enter your email address") }}
      </div>
      <div class="form-group">
        {{ form.dateofbirth.label (class='signup-form-label')}}
        {{ form.dateofbirth(class='form-control', max="2016-12-12") }}
      </div>
      <div class="form-group">
        {{ form.password.label (class='signup-form-label')}}
        {{ form.password(class='form-control', placeholder="Enter your password") }}
      </div>
      <div class="form-group">
        {{ form.password_reenter.label(class='signup-form-label') }}
        {{ form.password_reenter(class='form-control', placeholder="Re-enter your password") }}
      </div>
      <button type="submit" name="submit" class="btn btn-primary btn-block sign-up-submit">SUBMIT</button>
      <div class="login-link">
        <p>Already have an account? <a href="{{url_for('login')}}">Login</a></p>
      </div>
    </form>

  </div>
  <div class="push"></div>
{% endblock %}